body{
    font-family: 'Century','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color:#25190E;
     margin-inline:100px;
  margin-top:20px;
    background-color: #f0f2f1; 
}

 a nav {
  text-decoration: none;
  position: relative;
  transition: all 0.5s ease-in-out;
  animation-duration: 0.9s;}
    a nav:hover {
  animation-name: pulse79;
  animation-iteration-count: infinite;
 }


 @keyframes pulse79 {
  0% { transform: scale(1); }
  50% { transform: scale(1.07); }
  100% { transform: scale(1); }
 }
 
/* nawigacja */
nav {
    font-family: 'Century', 'Lucida Sans';
    font-size: 22px;
    background-color: #374039; color: #f0f2f1;
    display: flex;
    justify-content:flex-start;
    align-items: center;

    padding: 20px 40px;
    width:100%;

    a:link, a:visited{ color: #f0f2f1; text-decoration: none;}
    a:active{color: #dadddb; text-decoration: none;}
    a {
  text-decoration: none;
  position: relative;
  transition: all 0.5s ease-in-out;
  animation-duration: 0.9s;}
    a:hover {
  animation-name: pulse79;
  animation-iteration-count: infinite;
 }


 @keyframes pulse79 {
  0% { transform: scale(1); }
  50% { transform: scale(1.07); }
  100% { transform: scale(1); }
 }
  }

.nav-links{
    display: flex;
    gap: 40px;
}
nav h1{
  align-items: flex-start;
  font-size: 30px;
}

/*modele*/
.model-box{
margin-left: 150px;
    margin-right: 150px;
}

.models-area h1{ 
    text-transform: uppercase;
   text-align: left;
    font-size:4rem;
    font-weight:300;
    letter-spacing:10px;
margin-left: 150px;
margin-top: 120px;

}

.category-area{
        align-items: center;
        display: flex;
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
        justify-content: flex-start;
        margin-left: 150px;
}


/* modele hover */
.model-offer{
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;

    justify-items: center;
    padding: 20px;
    margin-top: 35px;
}


.model{
    width: 450px;
    height: 570px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.model p{
    font-size: 15px; 
    margin-top: 18px;
    text-align: left;
    letter-spacing: 2px;
}

.photo{
    width: 350px;
    height: 760px;
    position: relative;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;}


.img1,
.img2,
.img3 {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.7s ease;
}

.img1 {
    z-index: 1;
}

.img2,
.img3 {
    opacity: 0;
    transition: opacity 0.7s ease;
}

/* opóźnienia */
.img2 {
    z-index: 2;
    transition-delay: 0s;
}

.img3 {
    z-index: 3;
    transition-delay: 1s;
}

/* hover */
.photo:hover .img2 {
    opacity: 1;
}

.photo:hover .img3 {
    opacity: 1;
}


.devider{
     width:100%;
    height:1px;
    background:#ddd;
    margin:70px 0;
  }
  
/* footer */
footer{
  padding:30px, 40px;
}

.footer{
  display: flex;
  align-items: center;
  gap:20px
}
.footer-img{
  height: auto;
  width: 190px;
}