*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

/* nawigacja */
nav {
  background-color: #374039; color: #f0f2f1;
  display: flex;
  justify-content:flex-start;
  align-items: center;

  padding: 20px 40px;
  width:100%;

  a:link, a:visited{ color: #f0f2f1; text-decoration: none;}
  a:hover{text-decoration:line-through; text-decoration-color: #252525; text-decoration-thickness:3px;}
  a:active{color: #dadddb; text-decoration: none;}
}

.nav-links{
  display: flex;
  gap: 40px;
}
nav h1{
  align-items: flex-start;
  font-size: 30px;
}


body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#25190E;
  text-align: center;
  background-color: #f0f2f1; 
}

h1{ 
text-transform: uppercase;
padding-top: 40px;
font-size: 60px;
text-align: left;
margin-left: 310px;
padding-bottom: 60px;
}

.category-area{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 310px;
}


.category-bar{
    display: block;
    unicode-bidi: isolate;

}


/* modele hover */
.model-offer{
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 30px;

    justify-items: center;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
}


.model{
    width: 450px;
    height: 570px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.model p{
font-size: 23px; 
margin-top: 10px;
text-align: left;
}

.photo{
    width: 350px;
    height: 760px;
    position: relative;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;}


.img1,
.img2,
.img3 {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.7s ease;
}

.img1 {
    z-index: 1;
}

/* ukryte zdjęcia */
.img2,
.img3 {
    opacity: 0;
    transition: opacity 0.7s ease;
}

/* opóźnienia */
.img2 {
    z-index: 2;
    transition-delay: 0s;
}

.img3 {
    z-index: 3;
    transition-delay: 1s;
}

/* hover */
.photo:hover .img2 {
    opacity: 1;
}

.photo:hover .img3 {
    opacity: 1;
}


/* footer */
footer{
  padding:30px, 40px;
}

.footer{
  display: flex;
  align-items: center;
  gap:20px
}
.footer-img{
  height: auto;
  width: 190px;
}