body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#25190E;
  margin-inline:100px;
  margin-top:20px;
  background-color: #f0f2f1;
}

/* kolory linków + animacja */
a:link, a:visited{ color: #374039; text-decoration: none;}
a:active{color: #b2b6b3; text-decoration: none;}
 a {
  text-decoration: none;
  position: relative;
  transition: all 0.5s ease-in-out;
  animation-duration: 0.9s;
}

a:hover {
  animation-name: hover-link;
  animation-iteration-count: infinite;
}

@keyframes hover-link {
  0% { transform: scale(1); }
  50% { transform: scale(1.07); }
  100% { transform: scale(1); }
}


/* nawigacja */
nav {
  font-family: 'Century', 'Lucida Sans';
  font-size: 22px;
  background-color: #374039; color: #f0f2f1;
  display: flex;
  justify-content:flex-start;
  align-items: center;

  padding: 20px 40px;
  width:100%;

  a:link, a:visited{ color: #f0f2f1; text-decoration: none;}
  a:active{color: #dadddb; text-decoration: none;}
}

.nav-links{
  display: flex;
  gap: 40px;
}
nav h1{
  align-items: flex-start;
  font-size: 30px;
}

h1{
  text-align: center;
  margin-top: 66px;
  font-size: 60px;
}


/*  forms */
.form-layout{
 padding: 60px 20px;
}

.form{
   max-width: 700px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.form input{
  width:300px;

    padding: 14px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.gender-box{
    grid-column: 1 / -1;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.gender-box label{
  display: flex;
  align-items: center;
  gap: 4px;
}

.form-text{
box-sizing: border-box;
display: block;
    unicode-bidi: isolate;
text-align: center;
grid-column: 1/-1;
}

.measaure-text{
  grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 10px;
}

.form button{
    grid-column: 1 / -1;

    padding: 15px;
    border: none;
    margin-top: 13px;
    background-color: #374039;
    color: white;

    font-size: 16px;
    cursor: pointer;

    transition: 0.3s;
}

.form button:hover{
    background-color: #252525;
}

/* form submit strona*/
.submit{
  padding: 300px 20px;
}

.submit2{
padding: 250px 20px;
}

.submit-text{
  justify-items: center;
}



/* footer */
footer{
  position: fixed;
  bottom: 0;
}

.footer{
  display: flex;
  align-items: center;
  gap:20px
}
.footer-img{
  height: auto;
  width: 190px;
}




/* animacja HTML*/
.kropki-animacja {
  width: 200px;
  height: 60px;
  position: relative;
  margin: 0 auto;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #374039;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
