body {
  background-color: #f0ede8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#25190E;
  margin-inline:40px;
}

nav{
  background-color: #fff4ea; max-width: 100%;
  color: #000000;
  
display:inline-flex;
gap: 30px;
}


.form-part{
  margin-inline: 30%;
  margin-top: 4%;
  align-items: center;
}

.form-text{
text-align: center;
}


form{
margin-top: 120px;
}